.App-logo {
  /* animation: spin infinite 5s linear; */
  height: 80px;
}

.App-header-questions {
  background-color: #222;
  padding: 20px;
  padding-bottom: 15px;
  color: white;
  text-align: center;
}

.App-header-questions h2 {

  color: white;
}

.App-header-questions .anticon {
  font-size: 20px;
  cursor: pointer;
  margin-right: 12px;
}

.App-intro {
  font-size: large;
}

@keyframes spin {
  from {
    transform: scaleX(0);
  }

  to {
    transform: scaleX(-1);
  }
}

.ant-collapse-header-text {
  font-size: 18px;
}