.App-logo {
  animation: spin infinite 20s linear;
  height: 80px;
}

.App-header-questions {
  background-color: #222;
  padding: 20px;
  color: white;
  text-align: center;
}

.App-header-questions h2 {

  color: white;
}

.App-header-questions .anticon {
  font-size: 20px;
  cursor: pointer;
}

.App-intro {
  font-size: large;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}